/* Estilos generales para el contenedor del formulario */
.cont_form {
    background-color: #333;         /* Fondo oscuro para el header */
    margin-top: 0.5rem;
    padding-top: 2rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.titu_form {
    text-align: center;
    margin-bottom: 20px;
}

.titulo {
    font-size: 28px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.input_form {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
}
.sec_form{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 5rem;
    
}


.formu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.form {
    width: 100%;
}

.lab_form {
    display: block;
    font-weight: bold;
    color: #555;
    
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
}

.bot_form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn_enviar {
    padding: 10px 20px;
    background-color: #4bc668;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn_enviar:hover {
    background-color: #45a053;
}
.mapa {
    overflow: hidden;
    width: 150%; /* Aumenta el ancho al 80% para hacerlo más grande */
    height: 300px; /* Aumenta la altura a 400px */
    padding-left: 5rem; /* Ajusta el espaciado a la izquierda si es necesario */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   
}
.ubicacion{
    width: 90%;
    height: 40rem;
}

/* Responsive para pantallas pequeñas */
    @media (max-width: 600px) {
        .cont_form {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-items: center
        }
        .input_form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .titulo {
            font-size: 24px;
        }
    
        .btn_enviar {
            width: 100%;
            padding: 12px;
            font-size: 18px;
        }
        
        .mapa {
            width: 100%; /* Ancho completo en pantallas pequeñas */
            height: 300px; /* Reduce un poco la altura en dispositivos pequeños */
            padding-left: 0; /* Remueve el padding para centrarlo mejor */
        }
}
