/* footer_index.css */

/* Estilos generales para el footer */
.cont_footer {
    margin-top: 1rem;
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Sombra en la parte superior */
    
}

.conte_img {
    display: flex; /* Utiliza Flexbox para alinear el contenido */
    flex-direction: column; /* Dirección vertical */
    align-items: center; /* Centra el contenido horizontalmente */
}

.img_footer {
    display: flex;
    width: 20%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

p {
    font-size: 16px; /* Tamaño del texto */
    margin: 0; /* Eliminar margen */
    padding: 0 10px; /* Espaciado horizontal */
}

/* Estilo para dispositivos móviles */
@media (max-width: 600px) {
    .cont_footer{
        display: flex;
        justify-items: center;
    }
    
    p {
        font-size: 14px; /* Reducir el tamaño de la fuente en móviles */
    }
}
